<?php $baseUrl = Cake\Core\Configure::read("App.fullBaseUrl"); ?>
<?php
    $showSearch = true;
    if (isset($item) && $item->isPreview) {
        $showSearch = false;
    }
?>

<?php if ($showSearch): ?>
<nav id="breadcrumb" class="pc_breadcrumb">
    <ol>
        <li>
            <h1><a href="<?php echo $baseUrl; ?>/"><span>西武グリーンツアー（貸切バス・バスツアー）</span></a></h1>
        </li>
        <li class="even"><em><?=(isset($data['platform']) && $data['platform'] !='')?$data['platform'].'発バスツアー検索結果' : '検索結果' ?></em></li>
        <!-- /.breadcrumb -->
    </ol>
</nav>

<?php if (!isset($mobile)) {
    ?>
    <div class="pc">
        <div class="searchAreaWrap02">
            <?= $this->Form->create(null, ['url' => ['controller' => 'tour', 'action' => 'main01'], 'novalidate' => true, 'class' => 'icon-person', 'escape' => false,  'autocomplete'=> 'off', 'id' => 'ApForm1','method'=>'GET']); ?>
                
                <div class="searchArea01">
                    <div class="resultsBox01">
                        <div class="resultsCell01">
                            <p>日数</p>
                        </div>
                        <div class="resultsCell02">
                            <div class="tabNaviContCell01 accordion radioWrap01">
                                <div class="tabNaviBox01 switch">
                                    <p class="text02">指定しない</p>
                                </div>
                                <div class="tabNaviAcCont01 pulldown">
                                    <ul class="clearfix searchInputWrap01">
                                        <li class="li01 odd"><label class="over"><input type="radio" name="cmsDay01"
                                                    value="0" data-title="指定しない" checked="">指定しない</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay01" value="1"
                                                    data-title="日帰り">日帰り</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay01" value="2"
                                                    data-title="2日間">2日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay01" value="3"
                                                    data-title="3日間">3日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay01" value="4"
                                                    data-title="4日間">4日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay01" value="5"
                                                    data-title="5日間">5日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay01" value="6"
                                                    data-title="6日間">6日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay01" value="7"
                                                    data-title="7日間">7日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay01" value="8"
                                                    data-title="8日間">8日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay01" value="9"
                                                    data-title="9日間">9日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay01" value="10"
                                                    data-title="10日間以上">10日間以上</label></li>
                                    </ul>
                                </div>
                            </div>

                            <p class="text02">～</p>

                            <div class="tabNaviContCell01 accordion radioWrap02">
                                <div class="tabNaviBox01 switch">
                                    <p class="text02">指定しない</p>
                                </div>
                                <div class="tabNaviAcCont01 pulldown">
                                    <ul class="clearfix searchInputWrap01">
                                        <li class="li01 odd"><label class="over"><input type="radio" name="cmsDay02"
                                                    value="0" data-title="指定しない" checked="">指定しない</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay02" value="1"
                                                    data-title="日帰り">日帰り</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay02" value="2"
                                                    data-title="2日間">2日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay02" value="3"
                                                    data-title="3日間">3日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay02" value="4"
                                                    data-title="4日間">4日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay02" value="5"
                                                    data-title="5日間">5日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay02" value="6"
                                                    data-title="6日間">6日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay02" value="7"
                                                    data-title="7日間">7日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay02" value="8"
                                                    data-title="8日間">8日間</label></li>
                                        <li class="even"><label><input type="radio" name="cmsDay02" value="9"
                                                    data-title="9日間">9日間</label></li>
                                        <li class="odd"><label><input type="radio" name="cmsDay02" value="10"
                                                    data-title="10日間以上">10日間以上</label></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="tab1">
                    <div class="tabNaviCont01">
                        <div class="tabNaviContIn01">

                            <div class="tabNaviContCell01">
                                <label>
                                    <div class="tabNaviBox01 daySp01">
                                        <p class="text01">出発日</p>
                                        <p class="text02">
                                            <input type="text" name="tab1_datedepdted" <?=(isset($data['depdted']))?$data['depdted']: '' ?> onchange="$('#tab1_depdted').val($(this).val())" placeholder="日付未定"
                                                value="" size="10" class="searchInput01"
                                                id="datepicker" >
                                            <span class="iconCal01"><img
                                                    src="../../images/search_icon_cal.png" width="18"
                                                    height="18" alt="カレンダー" class="pcBr"><img
                                                    src="../../images/search_icon_cal_sp.png" alt="カレンダー"
                                                    class="spBr"></span>
                                        </p>
                                    </div>
                                </label>
                            </div>

                            <div class="tabNaviContCell01 accordion radioWrap02">
                                <div class="tabNaviBox01 switch" onclick="InitPurpose(1)">
                                    <p class="text01">目的</p>
                                    <p class="text02">指定しない</p>
                                </div>
                                <div class="tabNaviAcCont01 pulldown">
                                    <ul class="clearfix searchInputWrap01">
                                       
                                       
                                    </ul>
                                </div>
                            </div>

                            <div class="tabNaviContCell01 accordion radioWrap01">
                                <div class="tabNaviBox01 switch" onclick="InitRegion(1)">
                                    <p class="text01">行き先</p>
                                    <p class="text02">指定しない</p>
                                </div>
                                <div class="tabNaviAcCont01 pulldown">
                                    <ul class="clearfix searchInputWrap01">
                                       
                                        
                                    </ul>

                                            <div id="boxregion1" class="click">
                                                <div class="clickWrap clearfix">
                                                    <div><a class="modal-close imghover detailModalClose"
                                                            href="#"><img src="../../images/common/detail_modal_close.png" width="22" height="22" alt="close" /></a></div>
                                                    <div>
                                                        <p class="clickP01">東北</p>
                                                        <ul class="modalRadioWrap modal-close">
                                                    
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>

                            <div class="tabNaviContCell01 accordion radioWrap03">
                                <div class="tabNaviBox01 switch"  onclick="InitRoute(1)">
                                    <p class="text01">出発場所</p>
                                    <p class="text02">指定しない</p>
                                </div>
                                <div class="tabNaviAcCont01 pulldown">
                                    <ul class="clearfix searchInputWrap01" id='boxRoute1'>
                                    </ul>
                                    <div id="boxPlatform1" class="click">
                                                <div class="clickWrap clearfix">
                                                    <div><a class="modal-close imghover detailModalClose"
                                                            href="#"><img
                                                                src="../../images/common/detail_modal_close.png"
                                                                width="22" height="22"
                                                                alt="close" /></a></div>
                                                    <div>
                                                        <p class="clickP01">西武池袋線</p>
                                                        <ul class="modalRadioWrap modal-close">
                                                      
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>

                            <div class="tabNaviKeyword"><input type="text" name="tab1_keyword" id="tab1_keyword"
                                    placeholder="キーワード　観光やホテル名など"></div>

                            <div class="accordion tabNaviCont02">
                                <div class="switch02 tabNaviSwitch01">
                                      <?php $baseUrl = Cake\Core\Configure::read("App.fullBaseUrl"); ?>
                                    <p class="p01"><span class="tabNaviSpan01"><span
                                                class="plus"><img src="<?=$baseUrl ?>/../../images/Plus_1.svg"></span></span>条件を追加</p>
                                    <p class="p02"><span class="tabNaviSpan01"><span
                                                class="plus"><img src="<?=$baseUrl ?>/../../images/Plus_2.svg"></span></span>閉じる</p>
                                </div>
                                <div class=" tabNaviAcCont02">
                                    <ul class="clearfix">
                                         <li class="li01">
                                        <div style="display: inline-block; height: auto;vertical-align: bottom;">
                                            
                                            <input type="checkbox" id='show_price1' name='show_price1' />
                                            <label for="show_price1">予算</label>
                                        </div>
                                        <div class="yosanWrap01 yosanWrap001">
                                            <p id="amount"></p>
                                            <div id="slider-range"></div>         
                                        </div>
                                    </li>
                                        <li> <label><input type="checkbox" name="tab1_isDepdted" class="tab1_isDepdted" value="1">出発決定日あり</label> </li>
                                        <li> <label><input type="checkbox" name="tab1_isTourBus" class='tab1_isTourBus' value="1">添乗員・ガイド同行</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tabNaviContCell02">
                                <input type="button" value="検索" name='submit1' id='submit1' onclick="$('#submit_name').val('submit1');$('#action').val(''); " class="submitBtn01 imghover">
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div style="display: none">

        <?php if ((isset($data['submit_name'])) || !isset($data['submit_name'])) {
        ?>
                <input type="hidden" name="tab_date_depdted" id="tab_date_depdted" value='<?=(isset($data['tab_date_depdted']))?$data['tab_date_depdted'] : '' ?>' >
                <input type="hidden" name="tab_purpose"  id="tab_purpose" value='<?=(isset($data['purpose']))?$data['purpose'] : '' ?>' >
                <input type="hidden" name="tab_destination"  id="tab_destination" value='<?=(isset($data['destination']))?$data['destination'] : '' ?>' >
                <input type="hidden" name="tab_platform"  id="tab_platform" value='<?=(isset($data['platform']))?$data['platform'] : '' ?>' >

                <input type="hidden" name="tab_purpose_title"  id="tab_purpose_title" value='<?=(isset($data['purpose_title']))?$data['purpose_title'] : '' ?>' >
                <input type="hidden" name="tab_destination_title"  id="tab_destination_title" value='<?=(isset($data['destination_title']))?$data['destination_title'] : '' ?>' >
                <input type="hidden" name="tab_platform_title" id="tab_platform_title" value='<?=(isset($data['platform_title']))?$data['platform_title'] : '' ?>' >            
                
                <input type="hidden" name="tab_price_from"  id="tab_price_from" value='<?=(isset($data['from_price']))?$data['from_price'] : '' ?>' >
                <input type="hidden" name="tab_price_to" id="tab_price_to" value='<?=(isset($data['to_price']))?$data['to_price'] : '' ?>' >
                <input type="hidden" name="tab_depdted" id="tab_depdted" value='<?=(isset($data['isDepdted']))?$data['isDepdted'] : '' ?>' >
                <input type="hidden" name="tab_tourbus" id="tab_tourbus" value='<?=(isset($data['isTourBus']))?$data['isTourBus'] : '' ?>' >
                <input type="hidden" name="tab_search_key" id="tab_search_key" value='<?=(isset($data['search_key']))?$data['search_key'] : '' ?>' >
                <input type="hidden" name="submit_name" id="submit_name" value='<?=(isset($data['submit_name']))?$data['submit_name'] : '' ?>' >
                
                <input type="hidden" name="tab_date_from" id="tab_date_from" value='<?=(isset($data['tab_date_from']))?$data['tab_date_from'] : '' ?>' >
                <input type="hidden" name="tab_date_from_title" id="tab_date_from_title" value='<?=(isset($data['tab_date_from_title']))?$data['tab_date_from_title'] : '' ?>' >
                <input type="hidden" name="tab_date_to" id="tab_date_to" value='<?=(isset($data['tab_date_to']))?$data['tab_date_to'] : '' ?>' >
                <input type="hidden" name="tab_date_to_title" id="tab_date_to_title" value='<?=(isset($data['tab_date_to_title']))?$data['tab_date_to_title'] : '' ?>' >
                
                <input type="hidden" name="tab_dates" id="tab_dates" value='<?=(isset($data['tab_dates']))?$data['tab_dates'] : '' ?>' >

                <input type="hidden" name="tab_depdted_from" id="tab_depdted_from"  value='<?=(isset($data['tab_depdted_from']))?$data['tab_depdted_from'] : '' ?>' >
                <input type="hidden" name="tab_depdted_to" id="tab_depdted_to"  value='<?=(isset($data['tab_depdted_to']))?$data['tab_depdted_to'] : '' ?>' >
                <input type="hidden" name="tab_depdted_title" id="tab_depdted_title"  value='<?=(isset($data['tab_depdted_title']))?$data['tab_depdted_title'] : '' ?>' >
                <input type="hidden" name="action" id="action"  value='<?=(isset($data['action']))?$data['action'] : '' ?>' >
                <input type="hidden" name="sort" id="sort" value='<?=(isset($data['sort']))?$data['sort'] : 'asc' ?>' >
        <?php
    } else {
        ?>
                <input type="hidden" name="tab_date_depdted" id="tab_date_depdted" value='' >
                <input type="hidden" name="tab_purpose" id="tab_purpose" value='' >
                <input type="hidden" name="tab_purpose_title" id="tab_purpose_title" value='' >
                <input type="hidden" name="tab_destination" id="tab_destination" value='' >
                <input type="hidden" name="tab_destination_title" id="tab_destination_title" value='' >
                <input type="hidden" name="tab_platform" id="tab_platform" value='' >
                <input type="hidden" name="tab_platform_title" id="tab_platform_title" value='' >
                <input type="hidden" name="tab_price_from"  id="tab_price_from" value='' >
                <input type="hidden" name="tab_price_to" id="tab_price_to" value='' >
                <input type="hidden" name="tab_depdted"  id="tab_depdted" value='' >
                <input type="hidden" name="tab_tourbus"  id="tab_tourbus" value='' >
                <input type="hidden" name="tab_search_key"  id="tab_search_key" value='' >
                <input type="hidden" name="submit_name" id="submit_name" value='' >

                <input type="hidden" name="tab_date_from" id="tab_date_from" value='' >
                <input type="hidden" name="tab_date_from_title" id="tab_date_from_title" value='' >
                <input type="hidden" name="tab_date_to" id="tab_date_to" value='' >
                <input type="hidden" name="tab_date_to_title" id="tab_date_to_title" value='' >
                <input type="hidden" name="tab_dates" id="tab_dates" value='' >

                <input type="hidden" name="tab_depdted_from" id="tab_depdted_from" value='' >
                <input type="hidden" name="tab_depdted_to" id="tab_depdted_to" value='' >
                <input type="hidden" name="tab_depdted_title" id="tab_depdted_title" value='' >
                <input type="hidden" name="action" id="action"  value='' >
                <input type="hidden" name="sort" id="sort" value='' >
        <?php
    } ?>
    </div>
            </form>
        </div>
    </div>
    <?php
} ?>
<?php endif; ?>

