.f-r {
	float:right
}

.direction-img {
    margin-top: -3px;
}

.direction-char {
    font-size: 10px;
}

.sortable-col {
    cursor: pointer;
}

.swal-icon {
    width: 50px;
}

.swal-modal {
    width: 300px;
}

.swal-360 {
    width: 360px;
}

.red {
    color: red;
}

.btn-upload-image {
    display: inline-block;
}

.upload-btn-comment {
    display: inline-block;
    position: relative;
    top: -12px;
    margin-left: 5px;
}

.input-image-box {
    display: inline-block;
    position: relative;
    width: 100%;
}

.input-url-image {
    width: 500px;
}
.add-url-button-box {
    display: inline-block;
    position: relative;
    top: 14px;
}
.platform-items-popup {
    width: 900px;
}
.platform-item {
    margin: 0 20px 0 0;
    float: left;
    width: 190px;
    text-align: left;
}

.item-preview-popup {
    width: 1200px;
}

.item-preview-popup table {
    width: 100%
}

.kanriAdminTable01 th {
    width: 180px;
}

.ui-datepicker-trigger, .ui-monthpicker-trigger {
    width: 25px;
    height: 25px;
    margin: 0px 0 8px 5px;
}