@charset "utf-8";

/* ****************************************************
Title: layout.css
***************************************************** */

/* -------------------------------------------------------------------- 
 body
-------------------------------------------------------------------- */

body {
 color: #333333;

/* font-family:	"Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "HiraginoKaku-W3-90msp-RKSJ-H", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック",  Verdana, Osaka, "MS PGothic", Sans-Serif;*/

/* font-family:	"HiraginoKaku-W3-90msp-RKSJ-H", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ" , "Meiryo" , "ＭＳ Ｐゴシック",  Verdana, Osaka, "MS PGothic", Sans-Serif;*/

font-family: 'Noto Sans JP', sans-serif;

background-color: #f2f4f5;

font-size: 13px;
 *font-size:small;
 *font:x-small;
 text-align: center;
	text-size-adjust: 100%;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	max-height: 999999px;
}

body.fontMeiryo {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

#top {
	overflow: hidden;
	min-width: 1200px;
}

#wrap {
	/*overflow: hidden;*/
	/*width: 640px;*/
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding: 0px;
	/*min-width: 1000px;*/
}
.ui-datepicker-trigger, .ui-monthpicker-trigger {
    width: 25px;
    height: 25px;
    margin: 0px 0 8px 5px;
    }
img {
	vertical-align: bottom;
	/*max-width: 100%;*/
	width: 100%;
	height: auto;
}

.relative-wrap {
	position: relative;
}

.contDispN {
	display: none;
}

p, span, dt, dd, th, td, li, h1, h2, h3, h4 {
	max-height: 999999px;
	background-image: url(../img/spacer.gif);
}


/*-----------------------*/

.anc {
	position: relative;
	font-size: 0px;
	line-height: 0px;
}
.ancIn {
	position: absolute;
	top: -106px;
}

#top {
	padding-top: 90px;
}

/*-----------------------*/

.pc {
	display: block;
}

.sp {
	display: none;
}

.pcBr {
	display: inline;
}

.spBr {
	display: none;
}

.pcTable {
	display: table !important;
}
.spTable {
	display: none !important;
}

.contIn960 {
	width: 960px;
	margin: 0px auto;
	position: relative;
}

.radius300 {
	-moz-border-radius: 300px;
	-webkit-border-radius: 300px;
	-o-border-radius: 300px;
	-ms-border-radius: 300px;
	border-radius: 300px;
}
.radius4 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
}
.radius3 {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
}
.radius2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}

/*---*/

.radius4Left {
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-o-border-radius: 4px 0px 0px 4px;
	-ms-border-radius: 4px 0px 0px 4px;
	border-radius: 4px 0px 0px 4px;
}
.radius4Right {
	-moz-border-radius: 0px 4px 4px 0px;
	-webkit-border-radius: 0px 4px 4px 0px;
	-o-border-radius: 0px 4px 4px 0px;
	-ms-border-radius: 0px 4px 4px 0px;
	border-radius: 0px 4px 4px 0px;
}


/*-------------------*/

.pcSlideWrap {
	position: relative;
	left: 0px;
	top: 0px;
	width: auto;
}
.spSlideWrap {
	position: fixed;
	left: 0px;
	top: -9999px;
	width: 375px;
}





/* -------------------------------------------------------------------- 
 header
-------------------------------------------------------------------- */

.headerWrap01 {
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #ffffff;
	z-index: 100;
	min-width: 1200px;
}

.header01 {
	padding: 0px 20px;
}
.headerIn {
	display: table;
	width: 100%;
	height: 90px;
}
.header01 .logo01 {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	width: 234px;
}
.header01 .text01 {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	padding-left: 40px;
	font-size: 24px;
	line-height: 1.0em;
	font-weight: bold;
}
.header01 .logout01 {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}
.header01 .logout01 p a {
	display: inline-block;
	font-size: 16px;
	line-height: 1.2em;
	background-image: url("../img/kanri_logout.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 26px auto;
	padding: 8px 0px 8px 36px;
}

.header01 a:link {	color: #333333;	text-decoration: none;}
.header01 a:visited {	color: #333333;	text-decoration: none;}
.header01 a:hover {	color:#333333;	text-decoration: none;}
.header01 a:active {	color:#333333;	text-decoration: none;}









/* -------------------------------------------------------------------- 
 footer
-------------------------------------------------------------------- */

/*.pagetopButton {
	display: none;
	position: fixed;
	bottom: 80px;
	right: 30px;
}*/

#gfooter {
	background-color: #0073bd;
}
.copyRight {
	text-align: center;
	font-size: 12px;
	line-height: 1.0em;
	color: #ffffff;
	padding: 14px 0px;
}






/* -------------------------------------------------------------------- 
 管理画面用 ログイン
-------------------------------------------------------------------- */

.loginTop {
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
}
.loginTop #wrap {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.loginLogo01 {
	width: 290px;
	margin: 0px auto 24px auto;
}
.kanriWrap01 {
	padding: 20px 0px;
}
.kanriLoginWrap {
}
.kanriLoginBlock01 {}

.kanriTit01 {
	font-size: 24px;
	line-height: 1.0em;
	margin-bottom: 20px;
}
.kanriLoginBox01 {
	background-color: #ffffff;
	padding: 40px 50px;
	display: inline-block;
	margin: auto;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	width: 580px;
}

.kanriLoginTable {
	width: 100%;
}
.kanriLoginTable td {
	text-align: left;
	vertical-align: middle;
	padding: 0px 0px 10px 0px;
}
.kanriLoginTable td.td01 {
	text-align: center;
	padding-top: 20px;
}
.loginInput01 {
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #dddddd;
	box-sizing: border-box;
	height: 45px;
	width: 100%;
	padding: 0px 10px;
	font-size: 14px;
	line-height: 1.0em;
}
.loginSubmit01Login {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: none;
	background-color: #ff4420;
	color: #ffffff;
	font-size: 21px;
	line-height: 1.0em;
	font-weight: bold;
	width: 220px;
	height: 50px;
	cursor: pointer;
	margin: auto;
}








/* -------------------------------------------------------------------- 
 管理画面詳細
-------------------------------------------------------------------- */

.kanriContWrap01 {
	width: 1200px;
	margin: auto;
	text-align: left;
	padding-bottom: 45px;
}
.kanriTit02 {
	font-size: 24px;
	line-height: 1.0em;
	font-weight: bold;
}
.kanriAcContWrap {
	background-color: #ffffff;
	padding: 40px 0px 60px 0px;
}

.loginSubmit01 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: none;
	background-color: #0073bd;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.0em;
	font-weight: bold;
	width: 100px;
	height: 35px;
	cursor: pointer;
	margin: auto;
}
.loginSubmit02 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #b0b0b0;
	background-color: #ffffff;
	color: #0073bd;
	font-size: 16px;
	line-height: 1.0em;
	font-weight: bold;
	width: 100px;
	height: 35px;
	cursor: pointer;
	margin: auto;
}

.kanriAdminTableTit01 {
	border-left: 3px solid #0073bd;
	padding-left: 7px;
	line-height: 24px;
}
.kanridetailBlock01 {
	display: block;
	width: 100%;
	margin-bottom: 20px;
}
.kanridetailBlock01 .kanriBox01 {
	display: block;
	text-align: left;
	vertical-align: middle;
	width: 33%;
	float: left;
}
.kanridetailBlock01 .kanriBox02 {
	display: block;
	text-align: center;
	vertical-align: middle;
	font-size: 22px;
	line-height: 1.0em;
	font-weight: bold;
	color: #ff4420;
	width: 33%;
	float: left;
}
.kanridetailBlock01 .kanriBox03 {
	display: block;
	text-align: right;
	vertical-align: middle;
	width: 33%;
	float: left;
}

.labelWrap01 label {
	margin-right: 36px;
}
.labelWrap02 .span {
	margin: 0px 20px 0 0;
	float:left;
	width: 145px;
}
.kanriAdminTable01 {
	width: 900px;
	margin: auto;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
}
.kanriAdminTable01 th {
	text-align: left;
	vertical-align: middle;
	font-size: 16px;
	line-height: 1.0em;
	padding: 20px 15px 20px 15px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box;
	width: 174px;
}
.kanriAdminTable01 td {
	text-align: left;
	vertical-align: middle;
	font-size: 16px;
	line-height: 1.4em;
	padding: 20px 25px;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	box-sizing: border-box;
}
.kanriAdminTable01 td.td01 {
	text-align: center;
}
.kanriAdminTable01 td .kanriSpan01 {
	font-size: 18px;
	line-height: 1.0em;
	margin: 0px 28px;
}

.kanriAdminBox01 {
	text-align: center;
	padding: 20px 0px 30px 0px;
}


.loginInput02 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	height: 40px;
	width: 100%;
	padding: 0px 10px;
	font-size: 14px;
}
.loginInput03 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	height: 120px;
	width: 100%;
	padding: 10px 10px;
	font-size: 14px;
}
.loginInput04 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	height: 40px;
	width: 250px;
	padding: 0px 10px;
}
.loginInput05 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	height: 40px;
	width: 515px;
	padding: 0px 10px;
}


.adminbutton01 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #b0b0b0;
	background-color: #f1f1f1;
	color: #333333;
	font-size: 14px;
	line-height: 1.0em;
	width: 110px;
	height: 40px;
	cursor: pointer;
	margin: auto;
}
.adminbutton02 {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 2px solid #7f7f7f;
	background-color: transparent;
	color: #333333;
	font-size: 14px;
	line-height: 1.0em;
	width: auto;
	height: 28px;
	cursor: pointer;
	margin: 0px auto 0px 10px;
}
.adminbutton03 {
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	-o-border-radius: 18px;
	-ms-border-radius: 18px;
	border-radius: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: none;
	background-color: #0073bd;
	color: #ffffff;
	font-size: 18px;
	line-height: 1.0em;
	font-weight: bold;
	width: 20px;
	height: 20px;
	cursor: pointer;
	margin: 0px auto 0px 10px;
}

.kanriImg01 img {
	height: auto;
	width: 212px;
}

.kanriP01 {
	font-size: 14px;
	line-height: 1.4em;
	padding-top: 10px;
}
.kanriImgBox01 {
	padding: 20px 0px;
	border-top: 1px solid #dddddd;
}
.kanriImgBox01:first-child {
	border-top: none;
}

.imgBtn01 {
	width: 110px;
	height: 40px;
	display: table;
}
.imgBtn01 span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #b0b0b0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	background-color: #f1f1f1;
	cursor: pointer;
	color: #333333;
	font-size: 14px;
	line-height: 1.0em;
}

.kouteihyou p {
	margin-top: 10px;
}
.kouteihyou p:first-child {
	margin-top: 0px;
}

/*------モーダルウィンドウ用---------------------------------------*/

#modal-win {
	width: 100%;
	position: absolute;
}
#modal-win-inner {
	/*box-shadow: 0 0 5px rgba(0, 0, 0, .25);*/
	margin: 0 auto;
	position: relative;
	z-index: 9991;
	width: 580px !important;
}
#modal-bg {
	width: 100%;
	height: 100%;
	background-color: #000000;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9990;
	cursor: pointer;
}
.detailModalClose {
	display: block;
	width: 22px;
	position: absolute;
	top: 6px;
	right: 6px;
}


/*------モーダルウィンドウ用　ここまで---------------------------------------*/

.click {
	display: none;
}
.clickWrap {
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	width: 580px;
	margin: auto;
	padding: 30px 15px 45px 15px;
	background-color: #ffffff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	-ms-border-radius: 15px;
	border-radius: 15px;
}
.loginGazouUrl {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	height: 44px;
	width: 480px;
	padding: 0px 10px;
}
.clickP01 {
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 1.0em;
	font-weight: bold;
}
.clickClose {
	padding-top: 45px;
}

.gazouTuika01 {
	display: table;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: none;
	background-color: #ff4420;
	color: #ffffff;
	font-size: 21px;
	line-height: 1.0em;
	font-weight: bold;
	width: 220px;
	height: 50px;
	cursor: pointer;
	margin: auto;
}
.gazouTuika01 span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
a.gazouTuika01:link {	color: #ffffff;	text-decoration: none;}
a.gazouTuika01:visited {	color: #ffffff;	text-decoration: none;}
a.gazouTuika01:hover {	color:#ffffff;	text-decoration: none;}
a.gazouTuika01:active {	color:#ffffff;	text-decoration: none;}


a.modal:link {	color: #333333;	text-decoration: none;}
a.modal:visited {	color: #333333;	text-decoration: none;}
a.modal:hover {	color:#333333;	text-decoration: none;}
a.modal:active {	color:#333333;	text-decoration: none;}




/* -------------------------------------------------------------------- 
 パンくず
-------------------------------------------------------------------- */

.detailBreadWrap {
	padding: 20px;
	text-align: left;
}
.detailBreadWrap li {
	display: inline-block;
	font-size: 12px;
	line-height: 1.0em;
}
.detailBreadWrap a:link {	color: #333333;	text-decoration: none;}
.detailBreadWrap a:visited {	color: #333333;	text-decoration: none;}
.detailBreadWrap a:hover {	color:#333333;	text-decoration: underline;}
.detailBreadWrap a:active {	color:#333333;	text-decoration: none;}





/* -------------------------------------------------------------------- 
 管理画面一覧
-------------------------------------------------------------------- */

.kanridetailBlock01.statusTitWrap {
	margin-top: 20px;
}
.statusContWrap01 {
	display: table;
	width: 100%;
}
.statusContWrap01 .statusBox01 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding-right: 10px;
	box-sizing: border-box;
	width: 430px;
}
.statusContWrap01 .statusBox02 {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.statusBoxIn01 {
	display: table;
	box-sizing: border-box;
	width: 100%;
	background-color: #ffffff;
	border-left: 6px solid #0073bd;
}
.statusBoxIn01 .boxIn01 {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	padding: 20px 0px 20px 24px;
	box-sizing: border-box;
	height: 158px;
	position: relative;
}
.statusBoxIn01 .boxIn02 {
	display: table-cell;
	text-align: right;
	vertical-align: bottom;
	padding: 20px 24px 20px 0px;
	box-sizing: border-box;
	height: 158px;
}

.statusBoxIn02 {
	display: table;
	box-sizing: border-box;
	width: 100%;
	background-color: #ffffff;
	border-left: 6px solid #0073bd;
}
.statusBoxIn02.magB8 {
	margin-bottom: 8px;
}
.statusBoxIn02 .boxIn01 {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	padding: 0px 0px 0px 15px;
	box-sizing: border-box;
	height: 75px;
}
.statusBoxIn02 .boxIn02 {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
	padding: 0px 20px 0px 0px;
	box-sizing: border-box;
	height: 75px;
}

.statusTit01 {
	color: #0073bd;
	font-size: 18px;
	line-height: 1.0em;
	font-weight: bold;
}
.statusText01 {
	font-size: 32px;
	line-height: 1.5em;
}
.statusText01 .span01 {
	font-size: 22px;
	line-height: 1.5em;
}

.boxShadowBtn01 {
	-webkit-box-shadow: 0px 2px 0px 0px rgba(204, 204, 204, 1);
	-moz-box-shadow:    0px 2px 0px 0px rgba(204, 204, 204, 1);
	box-shadow:         0px 2px 0px 0px rgba(204, 204, 204, 1);
}
.statusBtn01 {
	position: absolute;
	left: 24px;
	bottom: 20px;
}

.statusTitBoxWrap01 {
	display: table;
	width: 100%;
}
.statusTitBox01 {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}
.statusTitBox02 {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	width: 406px;
}
.statusTitBox03 {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	padding-left: 15px;
	box-sizing: border-box;
	width: 144px;
}

.statusUl01 {
	float: left;
}
.statusUl01 li {
	display: inline-block;
	font-size: 14px;
	line-height: 1.0em;
}
.statusUl01 a:link {	color: #0830c7;	text-decoration: none;}
.statusUl01 a:visited {	color: #0830c7;	text-decoration: none;}
.statusUl01 a:hover {	color:#0830c7;	text-decoration: underline;}
.statusUl01 a:active {	color:#0830c7;	text-decoration: none;}

.statusPagerWrap {
	float: right;
}
.statusPagerWrap li {
	display: table;
	width: 30px;
	height: 30px;
	margin-left: 5px;
	float: left;
}
.statusPagerWrap li .statusPager {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	color: #777777;
	font-size: 13px;
	line-height: 1.0em;
	cursor: pointer;
}
.statusPagerWrap li.active .statusPager {
	background-color: #0073bd;
	color: #ffffff;
	font-weight: bold;
}
.statusPagerWrap li .statusPager:hover {
	background-color: #0073bd;
	color: #ffffff;
	font-weight: bold;
}

.statusTableWrap {
	overflow: hidden;
	margin: 10px auto;
}
.statusTable01 {
	width: 1200px;
	/*! border-top: 1px solid #d1d1d1; */
	border-left: 1px solid #d1d1d1;
}
.statusTable01 th {
	height: 60px;
	text-align: center;
	vertical-align: middle;
	background-color: #133053;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.5em;
	font-weight: bold;
	border-right: 1px solid #e8ebee;
	border-bottom: 1px solid #d1d1d1;
	box-sizing: border-box;
	padding: 8px 12px;
}
.statusTable01 th.last01 {
	border-right: 1px solid #d1d1d1;
}
.statusTable01 td {
	height: 60px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	font-size: 14px;
	line-height: 1.5em;
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #d1d1d1;
	box-sizing: border-box;
	padding: 8px 8px;
}
.statusTable01 td.td01 {
	text-align: left;
}

.statusTable01 .syuryo01 td {
	background-color: #bfbfbf;
}
.statusTable01 .koukai01 td {
	background-color: #fffbbf;
}

.checkBox01 {
 /*   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
	width: 18px;
	height: 18px;
	border: 1px solid #d1d1d1;
 vertical-align: middle;
}
.statusBtn02 {
	margin-bottom: 2px;
}


.adminbutton04 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #0073bd;
	background-color: #0073bd;
	color: #ffffff;
	font-size: 16px;
	line-height: 1.0em;
	width: 100px;
	height: 35px;
	cursor: pointer;
	margin: auto;
}
.adminbutton05 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #0073bd;
	background-color: #0073bd;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.0em;
	width: 85px;
	height: 30px;
	cursor: pointer;
	margin: auto;
	vertical-align: middle;
	margin-left: 17px;
}
.adminbutton06 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #d1d1d1;
	background-color: #ffffff;
	color: #333333;
	font-size: 11px;
	line-height: 1.0em;
	font-weight: bold;
	width: 35px;
	height: 18px;
	cursor: pointer;
	margin: auto;
}

.statusBtn03 {
	display: table;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	border: 1px solid #0073bd;
	background-color: #0073bd;
	color: #ffffff;
	/*font-size: 16px;
	line-height: 1.0em;*/
	width: 160px;
	height: 56px;
	cursor: pointer;
	margin: auto 0px auto auto;
}
.statusBtn03 .statusBtn03In {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
a.statusBtn03:link {	color: #ffffff;	text-decoration: none;}
a.statusBtn03:visited {	color: #ffffff;	text-decoration: none;}
a.statusBtn03:hover {	color:#ffffff;	text-decoration: none;}
a.statusBtn03:active {	color:#ffffff;	text-decoration: none;}


/*--------------------------------*/

.statusTable01 td.td02 {
	/*border-top: 1px solid #d1d1d1;*/
	background-color: transparent;
	border: none;
}
.statusTable01 td.td03 {
	background-color: transparent;
	border: none;
}

.adminbutton04.adminbutton0402 {
	width: 60px;
}
.adminSelect01 {
	height: 35px;
	border: 1px solid #d1d1d1;
}

.statusTable02 td {
	padding: 8px;
}




/* -------------------------------------------------------------------- 
 条件を追加
-------------------------------------------------------------------- */

.tabNaviCont02 {
	text-align: left;
	position: relative;
}
.tabNaviSwitch01 {
	display: table;
	width: 130px;
	height: 30px;
	margin: auto;
	cursor: pointer;
}
.tabNaviSwitch01 p {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	padding-left: 6px;
}
.tabNaviSwitch01 p.p01 {
	display: table-cell;
}
.tabNaviSwitch01 p.p02 {
	display: none;
}
.tabNaviSwitch01.open p.p01 {
	display: none;
}
.tabNaviSwitch01.open p.p02 {
	display: table-cell;
}

.tabNaviAcCont01.tabNaviAcCont02 {
	left: auto;
	right: 0px;
	top: 30px;
	width: 400px;
	background-color: #ffffff;
	padding: 20px;
	position: absolute;
	display: none;
}
.searchInput02 {
	border: 1px solid #e5e5e5;
	width: 100px;
	height: 20px;
	padding: 0px 10px;
}
.tabNaviAcCont02 input {
	margin-right: 6px;
}
.tabNaviSpan01 {
	display: table;
	width: 20px;
	height: 20px;
	font-size: 15px;
	line-height: 1.0em;
	font-weight: bold;
	color: #ffffff;
	float: left;
}
.tabNaviSpan01 .plus {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	background-color: #ff4420;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	border-radius: 20px;
}

.iconCal01 {
	float: right;
	margin-right: 12px;
}

.tabNaviKeyword input.searchInputKey {
	width: 340px;
	height: 40px;
	box-sizing: border-box;
	padding: 0px 30px;
	border: none;
	background-color: #ffffff;
	font-size: 13px;
	line-height: 1.0em;
	-moz-border-radius: 20px 0px 0px 20px;
	-webkit-border-radius: 20px 0px 0px 20px;
	-o-border-radius: 20px 0px 0px 20px;
	-ms-border-radius: 20px 0px 0px 20px;
	border-radius: 20px 0px 0px 20px;
}
.searchBtn01 {
	cursor: pointer;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 65px;
	height: 40px;
	border: none;
	background-image: url("../img/status_icon_search.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #ffffff;
	-moz-border-radius: 0px 20px 20px 0px;
	-webkit-border-radius: 0px 20px 20px 0px;
	-o-border-radius: 0px 20px 20px 0px;
	-ms-border-radius: 0px 20px 20px 0px;
	border-radius: 0px 20px 20px 0px;
	text-indent: -9999px;
}

.colPink01 {
	color: palevioletred;
}
.w-100px {
	width:150px!important
	}
.text-right{
	text-align:right
}
.text-c{
	text-align:center
}
.m-l50{
	margin-left:50px;
margin-right: 5px;
}
.m-250{
	margin-left:82px;
	margin-right: 5px;
}
.m-t10{
margin-top:10px} 
.train {
	position: absolute;
	height: 25px;
	float: right;
	width: 25px;
	margin: 8px 0 0px 5px;
	}

.font12{font-size:12px}
