
.ui-widget-content .ui-priority-secondary{
    opacity: 1 !important;
}
.ui-datepicker-calendar tr td:last-child a{
	color: #0081d2 !important;
}
.ui-datepicker-calendar tr td:first-child a{
	color: #d00000 !important;
}
.ui-state-holiday a {    
    color: #d00000 !important;
}
#ui-datepicker-div > table > tbody > tr > td.ui-datepicker-week-end.ui-state-holiday > a {
	 color: #d00000 !important;
}
.loading-spinner {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../../../img/preloader.gif) no-repeat center 38%;
}
.resultsCaption05{
    background-color: #f0f0f0;
    font-size: 13px;
    line-height: 1.0em;
    padding: 6px 0px 5px 0px;
    width: 80px;
    text-align: center;
    margin-right: 4px;
}
.td_deft{
    display: inline-flex;
        
}
.margin-left-4{
    margin-left: 5px;
}