<?php $this->layout = 'home'; ?>
<div style="text-align:center;font-size:24px;font-weight:bold;padding-top:30px;padding-bottom:300px">
        <h1>Not Found</h1>
        <p>There is errors when processing please try again later</p>
    </div>
        <script type="text/javascript">
    	$('.searchAreaWrap02').hide()
    </script>