@charset "utf-8";
/* CSS Document */
html,body{width: 100%;}

.sp_header,
.sp_breadcrumb,
.sp_footer{display: none;}


.templatesHead{
margin:60px 0 20px;
border:1px solid #999999;
padding:0.8em 1em;
background:#121212;
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
box-shadow:2px 2px 3px rgba(200, 200, 200, 0.8);
color:#ffffff;
-webkit-text-shadow:1px 1px 1px #999999;
-moz-text-shadow:1px 1px 1px #999999;
text-shadow:1px 1px 1px #999999;
font-size:1.166em;
}
.templatesHead:first-child{
margin-top:0;
}

.templatesName{
margin:40px 0 5px;
font-weight:bold;
color:#FF6600;
}
.templatesName:first-child{
margin-top:0;
}

.templatesSummary{
margin:-2px 0 5px;
color:#FF6600;
}



p[class*="headingType"],
p[class*="pageTitle"]{
font-weight:bold;
}

.option{
	margin-top: 20px;
    position: relative;
}
.option::before{
    position: absolute;
    top: -12px;
    left: 20px;
    display: block;
    content: 'Option';
    background: #ffffff;
    padding: 0 10px;
}

.m_table table tbody td:not(:first-child){
	text-align: left;
}