@charset "utf-8";

/* ****************************************************
Title: modules.css
***************************************************** */

/* -------------------------------------------------------------------- 
/* Text Link
-------------------------------------------------------------------- */

a:link {	color: #00a0e9;	text-decoration: underline;}
a:visited {	color: #00a0e9;	text-decoration: underline;}
a:hover {	color:#00a0e9;	text-decoration: none;}
a:active {	color:#00a0e9;	text-decoration: none;}

/* -------------------------------------------------------------------- 
/* Image Rollover (Alpha)
-------------------------------------------------------------------- */

a:hover img.hover {
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

.hover a:hover {
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	opacity:0.8;
}

/* -------------------------------------------------------------------- 
/* Font Size
-------------------------------------------------------------------- */

.fs10 { font-size:77%; }
.fs11 { font-size:85%; }
.fs12 { font-size:93%; }
.fs13 { font-size:100%; }
.fs14 { font-size:108%; }
.fs15 { font-size:116%; }
.fs16 { font-size:123.1%; }
.fs17 { font-size:131%; }
.fs18 { font-size:138.5%; }
.fs19 { font-size:146.5%; }
.fs20 { font-size:153.9%; }
.fs21 { font-size:161.6%; }
.fs22 { font-size:167%; }
.fs23 { font-size:174%; }
.fs24 { font-size:182%; }
.fs25 { font-size:192.3%; }
.fs26 { font-size:197%; }
.fs30 { font-size:227.3%; }

/* -------------------------------------------------------------------- 
/* Font Weight
-------------------------------------------------------------------- */

.bold {	font-weight: bold;}

/* -------------------------------------------------------------------- 
/* Font Color
-------------------------------------------------------------------- */

.red {	color: #FF0000 !important;}

/* -------------------------------------------------------------------- 
/* Indent
-------------------------------------------------------------------- */

.indent {
	padding-left: 1em;
	text-indent: -1em;
}

/* -------------------------------------------------------------------- 
/* Align
-------------------------------------------------------------------- */

.alc {	text-align: center !important;}
.alr {	text-align: right !important;}
.all {	text-align: left !important;}

.alt {	vertical-align: top !important;}
.alb {	vertical-align: bottom !important;}
.alm {	vertical-align: middle !important;}

/* -------------------------------------------------------------------- 
/* Float
-------------------------------------------------------------------- */

.fll {	float: left;}
.flr {	float: right;}

.noFloat { float: none !important;}

/* -------------------------------------------------------------------- 
/* Clearfix
-------------------------------------------------------------------- */

.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { display: inline-block; }
/*\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/**/

/* フロート解除 */
.both { clear: both; }

/* -------------------------------------------------------------------- 
/* Margin , Padding
-------------------------------------------------------------------- */

.mb0 {	margin-bottom: 0px !important;}
.mb5 {	margin-bottom: 5px !important;}
.mb10 {	margin-bottom: 10px !important;}
.mb15 {	margin-bottom: 15px !important;}
.mb20 {	margin-bottom: 20px !important;}
.mb25 {	margin-bottom: 25px !important;}
.mb30 {	margin-bottom: 30px !important;}
.mb35 {	margin-bottom: 35px !important;}
.mb40 {	margin-bottom: 40px !important;}
.mb45 {	margin-bottom: 45px !important;}
.mb50 {	margin-bottom: 50px !important;}
.mb55 {	margin-bottom: 55px !important;}
.mb60 {	margin-bottom: 60px !important;}
.mb65 {	margin-bottom: 65px !important;}
.mb70 {	margin-bottom: 70px !important;}
.mb75 {	margin-bottom: 75px !important;}
.mb80 {	margin-bottom: 80px !important;}
.mb85 {	margin-bottom: 85px !important;}
.mb90 {	margin-bottom: 90px !important;}
.mb95 {	margin-bottom: 95px !important;}
.mb100 {	margin-bottom: 100px !important;}

.ml0 {	margin-left: 0px !important;}
.ml5 {	margin-left: 5px !important;}
.ml10 {	margin-left: 10px !important;}
.ml20 {	margin-left: 20px !important;}
.ml30 {	margin-left: 30px !important;}

.mr0 {	margin-right: 0px !important;}
.mr5 {	margin-right: 5px !important;}
.mr10 {	margin-right: 10px !important;}
.mr20 {	margin-right: 20px !important;}
.mr30 {	margin-right: 30px !important;}

.mt0 {	margin-top: 0px !important;}
.mt5 {	margin-top: 5px !important;}
.mt10 {	margin-top: 10px !important;}
.mt20 {	margin-top: 20px !important;}
.mt30 {	margin-top: 30px !important;}
.mt35 {	margin-top: 35px !important;}
.mt40 {	margin-top: 40px !important;}

.pb0 {	padding-bottom: 0px !important;}
.pb5 {	padding-bottom: 5px !important;}
.pb10 {	padding-bottom: 10px !important;}
.pb20 {	padding-bottom: 20px !important;}
.pb30 {	padding-bottom: 30px !important;}
.pb40 {	padding-bottom: 40px !important;}

.pt0 {	padding-top: 0px !important;}
.pt5 {	padding-top: 5px !important;}
.pt10 {	padding-top: 10px !important;}
.pt20 {	padding-top: 20px !important;}
.pt30 {	padding-top: 30px !important;}

